{% load static %}

<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'cicd_app/css/app.css' %}">
   </head>
   <body>
        <h2>Hello {{ name }}</h2>
        <img src="{% static 'cicd_app/img/app.png' %}">
   </body>
</html>